# Dépendances (Backend & Frontend)
node_modules/
**/node_modules/

# Environnement (Secrets)
.env
**/.env

# Builds et logs
.DS_Store
logs/
*.log

# Dossier uploads (optionnel, si tu ne veux pas stocker les images test)
backend/uploads/