services:
  app:
    container_name: node_app
    restart: always
    build: .
    ports:
      - '3000:3000'
    links:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/myapp
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - '27017:27017'